body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-12px;
  width:420px;
  height:216px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:216px;
}
#u1 {
  position:absolute;
  left:2px;
  top:100px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:324px;
  top:162px;
  width:66px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
