body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:226px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:42px;
  top:53px;
  width:184px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:200px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:201px;
}
#u4 {
  position:absolute;
  left:2px;
  top:92px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:16px;
  top:32px;
  width:179px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:60px;
  top:142px;
  width:66px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u8 {
  position:absolute;
  left:2px;
  top:1px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:23px;
  top:81px;
  width:165px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:19px;
}
#u10 {
  position:absolute;
  left:2px;
  top:1px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:23px;
  top:112px;
  width:165px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:19px;
}
#u12 {
  position:absolute;
  left:2px;
  top:1px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:38px;
  top:170px;
  width:134px;
  height:10px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:11px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
